@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*variavel base*/
:root{
  --bege: #BA671E;
  --preto: #141414;
  --gelo: #E6E6E6;
  --terra: #7E570D;
  --celery: #d0c456;
  --claro: #e0c097;
  --marrom-rico : #7c4514;
  --marrom-escuro: #3e2723;
  --treetop: #616247;
}
/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e7cba7;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho fixo */
header .navegar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3f2c28;
}

header .logo{
  margin-left: 70px;
  color: var(--gelo);
  font-family: 'Arial Black' , Times;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 30px;
}

header .logofoto{
  float: left;
  width: 60px;
  margin-right: 10px;
  margin: 10px 5px;
}

header nav a{
  font-size: 11px;
  padding: 5px 10px;
  margin-right: 8px;
  font-weight: bold;
  background-color: #684b41;
  color:  var(--gelo);
  justify-content: space-between;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
}


header nav a:hover{
  color: var(--celery);
}

/* Estrutura principal */
.destaque-principal {
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('img/fundo.jpg');
  height: 600px; 
  background-size: cover;
  background-position: center;
  display: flex;
}

.introtext{
  font-size: 20px;
  justify-content: center;
  text-align: center;
  color: var(--gelo);
  margin: 3em 15em;
}


.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.oferecemos h2{
  font-size: 42px;
  text-align: center;
}

.card {
  background-color:  #3f2c28;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  flex: 395px;
  max-width: 700px;
  color: var(--gelo);
  font-weight: bold;
  font-size: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--gelo);
}

.cardapio{
  padding-top: 2em;
  color: var(--gelo);
  align-items: center;
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('img/cafeconexoes.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}

.cardapio table{
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  margin: 2em 8em;
}

.maisinfo{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #6d4c41;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

td a:hover{
  color: var(--celery);
}

section a:hover{
  color: var(--celery);
}

.conexoes{
  justify-content: space-between;
  font-size: 30px;
  margin: 6em 2em;
}

.conexoes h2{
  text-align: left;
}

.cont{
  display: flex;
  align-items: center;
  gap: 30px;
}

.cont img{
  height: auto;
  max-width: 30%;
  border-radius: 12px; /* Opcional: cantos arredondados */
  background-color:  #3f2c28;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);

}


/* Responsividade */
@media (max-width: 768px) {
  .cont {
    flex-direction: column;
  }

  .contimg {
    max-width: 100%;
  }
}

.sobre{
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('img/thebug4.jpg');
  height: 400px; 
  background-size: cover;
  background-position: center;
  display: flex;
}

.quem{
  color: var(--gelo);
  max-width: 1500px;
  margin: 0 auto;
  padding: 6em 6em;
}

/*Coworking*/
.salas {
  width:100%; 
  border-radius: 10px;
  margin-top: 10px;
}




footer {
  background-color:  #3f2c28;
  color: #fff;
  text-align: center;
  padding: 25px 20px;
  margin-top: 0px 40px;
}

footer h2 {
  margin-bottom: 10px;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .container {
    padding: 20px;
  }
}
