@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*variavel base*/
:root{
  --bege: #BA671E;
  --preto: #141414;
  --gelo: #E6E6E6;
  --terra: #7E570D;
  --celery: #d0c456;
  --claro: #e0c097;
  --marrom-rico : #7c4514;
  --marrom-escuro: #3e2723;
  --treetop: #616247;
}
/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e7cba7;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Cabeçalho */
header .navegar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3f2c28;
}

header .logo{
  margin-left: 70px;
  color: var(--gelo);
  font-family: 'Arial Black' , Times;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 30px;
}

header .logofoto{
  float: left;
  width: 60px;
  margin-right: 10px;
  margin: 10px 5px;
}

header nav a{
  font-size: 11px;
  padding: 5px 10px;
  margin-right: 8px;
  font-weight: bold;
  background-color: #684b41;
  color:  var(--gelo);
  justify-content: space-between;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
}


header nav a:hover{
  color: var(--celery);
}

/* Estrutura principal - Home */
.destaque-principal {
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('../img/fundo.jpg');
  height: 600px; 
  background-size: cover;
  background-position: center;
  display: flex;
}

.introtext{
  font-size: 20px;
  justify-content: center;
  text-align: center;
  color: var(--gelo);
  margin: 3em 15em;
}


.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color:  #3f2c28;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  flex: 395px;
  max-width: 700px;
  color: var(--gelo);
  font-weight: bold;
  font-size: 20px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--gelo);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}


.cardapio{
  padding-top: 2em;
  color: var(--gelo);
  align-items: center;
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('../img/cafeconexoes.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}

.cardapio table{
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  margin: 2em 8em;
}

.maisinfo{
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #6d4c41;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
}

td a:hover{
  color: var(--celery);
}

section a:hover{
  color: var(--celery);
}

.conexoes{
  margin: 20px;
  justify-content: center;
  background-color: #3f2c28;
  border-radius: 16px;
  color: var(--gelo);

}

.conex{
  align-items: center;
  font-size: 20px;
  text-align: left;
  margin-left: 1em;
  padding: 15px;
}

.conex a{
  margin-top: 5px;
}

.cont{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cont p{
  margin-right: 30px;
}

.cont img{
  max-width: 20%;
  margin-right: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}


/* Descubra */
.descubra-banner {
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('../img/cofe.jpg'); 
  height: 400px; 
  background-size: cover;
  background-position: center;
  display: flex;
}


/* Responsividade */
@media (max-width: 768px) {
  .cont {
    flex-direction: column;
  }

  .contimg {
    max-width: 100%;
  }
}

.sobre{
  background: linear-gradient(rgb(0,0,0,.50), rgb(0,0,0,.50)100%), url('../img/thebug4.jpg');
  height: 400px; 
  background-size: cover;
  background-position: center;
  display: flex;
}

.quem{
  color: var(--gelo);
  max-width: 1500px;
  margin: 0 auto;
  padding: 6em 6em;
}

footer {
  background-color:  #3f2c28;
  color: #fff;
  text-align: center;
  padding: 25px 20px;
  margin-top: 0px 10px;
}

footer h2 {
  margin-bottom: 10px;
}

/* Responsivo */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .container {
    padding: 20px;
  }
}

.horario{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 95%
}
/* ==== HORÁRIOS ==== */
.horarios-box {
  background-color: #3f2c28;
  color: #fff;
  text-align: center;
  padding: 60px 40px;
  border-radius: 16px;
  margin: 55px 60px;
  width: 700px;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  cursor: pointer;
}

.horarios-box h2 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #e0c097;
  cursor: pointer;
}

.horarios-linha div {
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 22px;
  padding: 14px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.horafunc:hover{
  background-color:var(--marrom-escuro);
}

.container h2{
  font-size: 42px;;
}

/* ==== FORMULÁRIO POR ETAPAS ==== */
.reserva-stepbox {
  background-color: #fffefb;
  padding: 40px 40px;
  margin: 55px 10px;
  width: 600px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  cursor: pointer;
}

.reserva-stepbox h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #3f2c28;
  cursor: pointer;
}
#form-step-reserva {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step summary {
  font-weight: bold;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f5ef;
  color: #3f2c28;
  list-style: none;
  cursor: pointer;
}

.step[open] summary {
  background-color: #e0c097;
  cursor: pointer;
}

.step input,
.step select {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fffefb;
  cursor: pointer;
}

.reserva-stepbox button {
  margin-top: 20px;
  padding: 14px;
  width: 100%;
  background-color: #3f2c28;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reserva-stepbox button:hover {
  background-color:var(--terra);
}

.container h2{
  text-align: center;
} 

 .mensagem-reserva {
  display: none;
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 15px;
}

  /* mascote na pagina faça parte */
.mascote-footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.mascote-footer img {
  width: 10%;      
  height: auto;
  max-width: 25%;
  display: block;
  margin: 0 auto;
}